:root {
    --primary-r: 51;  
    --primary-g: 255;  
    --primary-b: 136; 
    --primary-accent-color: #33ff88;  
    --secondary-accent-color: #003519; 
    --primary-background-color: #101010; 
    --secondary-background-color: #181818; 
    --primary-background-transparent: rgba(51, 255, 136, 0.1); 
    --secondary-background-transparent: rgba(51, 255, 136, 0.2);